<div class="wrap-buttons">
  <a mat-raised-button matTooltip="Creación de un nuevo perfil" matTooltipPosition="left" color="primary" [routerLink]="'/catalogos/crear-perfil'">Crear Perfil</a>
</div>

<mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Perfiles" value="" (keyup)='updateFilter($event)'>
</mat-form-field>


<div fxLayout="row wrap" *ngIf="obs$ | async as perfiles; else noPerfiles">
  <ng-container *ngIf="perfiles.length; else loading">
    <div *ngFor="let perfil of perfiles" fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">

      <mat-card class="user-card p-0">
        <mat-card-title>
          <div class="card-title-text">
            <!-- <a class="toolbar-avatar md mr-1"><img [src]="user.imagen" alt=""></a> -->
            <!-- <span class="title-card-catalogs">{{familia.descripcion}}</span> -->
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="perfilMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
            </button>
            <mat-menu #perfilMenu="matMenu">
              <button mat-menu-item [routerLink]="['/catalogos/modificar-perfil', perfil.idPerfil]">Editar</button>
              <button mat-menu-item (click)="openDialoAlertDelete(perfil.idPerfil)">Eliminar</button>
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content>
          <div class="user-details">
            <p class="p-info-catalogss">{{perfil.descripcion}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #noPerfiles>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
      <mat-card class="user-card p-0">
        <mat-card-content>
          <!-- <img src="assets/images/icons/no-close.png" alt="no found"> -->
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>

<ng-template #loading>
  <div class="wrap-loading-catalog">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</ng-template>

<div *ngIf="estatusData === 0">
  <div class="wrap-loading-catalog">
    <h2>No se encontró información referente a
      <b style="color:red">{{dataSerach}}</b>
    </h2>
  </div>
</div>

<!-- <mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator> -->
<mat-paginator [pageSizeOptions]="[10]" (page)="pageEvent($event)"></mat-paginator>