<div class="wrap-buttons">
  <a mat-raised-button matTooltip="Creación de un nuevo empleado" matTooltipPosition="left" color="primary" [routerLink]="'/catalogos/crear-empleado'">Crear Empleado</a>
</div>

<mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Empleados" value="" (keyup)='updateFilter($event)'>
</mat-form-field>


<div fxLayout="row wrap" *ngIf="obs$ | async as empleados; else noEmpleados">
  <ng-container *ngIf="empleados.length; else loading">
    <div *ngFor="let empleado of empleados" fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">

      <mat-card class="user-card p-0">
        <mat-card-title>
          <div class="card-title-text">
            <!-- <a class="toolbar-avatar md mr-1"><img [src]="user.imagen" alt=""></a> -->
            <span class="title-card-catalogs">{{empleado.nombre}} {{empleado.apellidoPaterno}} {{empleado.ApellidoMaterno}}</span>
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="empleadoMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
            </button>
            <mat-menu #empleadoMenu="matMenu">
              <button mat-menu-item [routerLink]="['/catalogos/modificar-empleado', empleado.idEmpleado]">Editar</button>
              <button mat-menu-item [routerLink]="['/catalogos/gafete', empleado.idEmpleado]">Gafete</button>
              <!-- <button mat-menu-item (click)="openDialoAlertDelete(empleado.idEmpleado)">Eliminar</button> -->
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content>
          <div class="user-details">
            <p class="p-info-catalogss">
              <b>Perfil:</b> {{empleado.perfil.descripcion}}</p>
            <p class="p-info-catalogss">
              <b>Dirección:</b> {{empleado.direccion}}</p>
            <p class="p-info-catalogss">
              <b>Teléfono:</b> {{empleado.telefono}}</p>
            <p class="p-info-catalogss">
              <b>NSS:</b> {{empleado.nss}}</p>
            <p class="p-info-catalogss">
              <b>Gafete:</b> {{empleado.gafete}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #noEmpleados>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
      <mat-card class="user-card p-0">
        <mat-card-content>
          <!-- <img src="assets/images/icons/no-close.png" alt="no found"> -->
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>

<ng-template #loading>
  <div class="wrap-loading-catalog">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</ng-template>

<div *ngIf="estatusData === 0">
  <div class="wrap-loading-catalog">
    <h2>No se encontró información referente a
      <b style="color:red">{{dataSerach}}</b>
    </h2>
  </div>
</div>

<!-- <mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator> -->
<mat-paginator [pageSizeOptions]="[10]" (page)="pageEvent($event)"></mat-paginator>