<mat-card class="p-0 container-create-user">
  <mat-card-title class="">
    <div class="card-title-text">Formulario para el registro de un grupo</div>
    <mat-divider></mat-divider>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="grupoForm" (submit)="createGrupo()">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="100">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="descripcion" formControlName="descripcion" placeholder="Descripción">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="grupoForm.controls['descripcion'].hasError('required') && grupoForm.controls['descripcion'].touched" class="form-error-msg">
                Descripción del grupo es un campo requerido
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="cont-btns">
        <button mat-raised-button color="primary" [disabled]="grupoForm.invalid" type="submit">Agregar</button>
        <button mat-raised-button [routerLink]="'/catalogos/grupos'">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>