.page-wrap.dif-blue{
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.logo-web{
  width: 50%;
}

.wrap-error-msg{
  height: 15px;
  // border: 1px solid red;
  margin-bottom: 10px;
}

.form-error-msg{
  padding: 0 0 8px 0;
}

.wrap-check{
  margin-bottom: 10px;
}

.redirect:hover{
  color: #3b9a4a;
}

mat-form-field{
  width: 100% !important;
  margin-bottom: 5px !important;
}