<div class="page-wrap height-100 dif-blue">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img src="assets/images/logo-panaderia.png" alt="" class="mb-05 logo-web">
          <p class="text-muted m-0">Restaurar contraseña</p>
        </div>
        <form [formGroup]="passwordForm" (submit)="restorePassword()">

          <div class="">
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input type="password" name="contrasena" matInput formControlName="contrasena" placeholder="Contraseña" value="">
              <mat-hint class="wrap-error-msg">
                <span *ngIf="passwordForm.controls['contrasena'].hasError('required') && passwordForm.controls['contrasena'].touched" class="form-error-msg">
                Contraseña es requerida
                </span>
                <span *ngIf="passwordForm.controls['contrasena'].hasError('minlength') && passwordForm.controls['contrasena'].touched" class="form-error-msg">
                Contraseña debe ser mayor a 8 caracteres
                </span>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="">
            <mat-form-field appearance="outline">
              <mat-label>Confirmar Contraseña</mat-label>
              <input type="password" name="confirmarContrasena" matInput appEqualValidator="password" formControlName="confirmarContrasena" placeholder="Confirmar Contraseña" value="">
              <mat-hint class="wrap-error-msg">
                <span *ngIf="passwordForm.controls['confirmarContrasena'].hasError('equalTo')" class="form-error-msg"> La contraseña no coincide </span>
              </mat-hint>
            </mat-form-field>
          </div>

          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="passwordForm.invalid">Restaurar</button>
          <div class="text-center">
            <!-- <a [routerLink]="'/login/recuperar'" class="mat-primary text-center full-width redirect">¿Olvidaste tu contraseña?</a> -->
            <span fxFlex></span>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>