.validaciones{
  padding-bottom: 4px;
  // border: 1px solid red;
  height: 0px;
}

.validaciones small{
  padding: 0 !important;
}

.cont-btns{
  text-align: right;
}

.cont-btns button {
  margin-right: 10px;
}

.cont-btns button:last-child{
  margin-right: 0px;
}